body {
  margin-top: 50px;
  overflow-x: hidden;
}

h1 {
  font-size: 125px;
}

h2 {
  font-size: 75px;
}

p {
  font-size: 25px;
}

.icon {
  height: 225px;
  width: 225px;
  margin: 30px;
}

.other-icons {
  width: 400px;
  height: 225px;
  margin: 50px;
}

.figure-caption {
  font-size: 50px;
  font-family: monospace;
}

.center-text {
  text-align: center;
}

.monospace {
  font-family: monospace;
}

li {
  color: white;
}

td {
  
}
